# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
SANITY_PROJECT_ID="2znnrrox"
SANITY_PROJECT_DATASET="production"
SANITY_READ_TOKEN="sknHfXtb2tEW5rvF9lEWiuyogBflxaLTfm29ejxyIEg7RL6L86PqU9d67cqKGxhQVI9lNYGVBTwBQoOGd7FrFQxGOvG8Hn7vHtteR29Sh7aHnYbRoDD4hSafa7UbmOTyKDEz7OXN4AhhH3lDE6vogyButokVppDHU7aBfqQuFywCnJ7ZjEKJ"
